@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Times-Italic';
}
.dropdown{
	margin: 0 auto;
}
nav{
	height: 60px;
	background: #44658A;
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logo{
	padding: 5px 0 0 80px;
	width:150px;
	height: auto;
}
nav ul {
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background: #44658A;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
}
nav ul li a:hover{
	background-color: #fff;
	color: #000;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}

header {
	background-image: url(images/home.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li {
 	display: inline-block;	
 }
ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid 000;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main {
	max-width: 1200px;
	margin: auto;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: white;
	font-size: 70px; 
}
.button {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #000;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover {
    background-color: #fff;
    color: #000;
}
.color {
	height: 100px;
	/* background-color: #009688; */
	opacity: 0.5;
}

/*--feature--*/

#feature {
	width: 100%;
	padding: 70px 0;
}
.title-text {
	text-align: center;
	/* padding-bottom: px; */
}
.title-text p{
	margin: auto;
	font-size: 20px;
	color: #009688;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}
.title-text p::after {
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20px;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;
}
.title-text h1{
	font-size: 50px;
}
.feature-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: flex;
	align-items: center;
	text-align: center;
}
.features{
	flex-basis: 50%;
}

.h1{
	text-align: center;
	padding: 20px;
	margin-left: 50%;
	margin-right: 50%;
}
.text h1{
	font-size: 45px;
}








/*-------------------------------------------------helpline------------------------------------------------------*/







.e117_53 { 
	overflow:hidden;
}
.e117_53 { 
	width:1200px;
	height:4190.4375px;
	position:absolute;
}
.e117_54 { 
	width:1024px;
	height:4104.4375px;
	position:absolute;
	left:88px;
	top:0px;
}
.e117_55 { 
	background-color:rgba(0, 0, 0, 1);
	width:992px;
	height:7px;
	position:absolute;
	left:16px;
	top:76.1875px;
}
.e117_56 { 
	width:992px;
	height:48px;
	position:absolute;
	left:16px;
	top:27.734375px;
}
.e117_57 { 
	width:992px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_58 { 
	width:136px;
	height:41px;
	position:absolute;
	left:0px;
	top:1px;
}
.e117_59 { 
	background-color:rgba(0, 0, 0, 1);
	width:136px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_60 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:24px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_61 { 
	width:992px;
	height:231px;
	position:absolute;
	left:16px;
	top:103.734375px;
}
.e117_62 { 
	background-color:rgba(0, 0, 0, 1);
	width:992px;
	height:231px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_63 { 
	color:rgba(255, 255, 255, 1);
	width:907px;
	height:150px;
	position:absolute;
	left:42px;
	top:43px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e117_64 { 
	width:480px;
	height:3713.25px;
	position:absolute;
	left:0px;
	top:391.1875px;
}
.e117_65 { 
	width:480px;
	height:339.15625px;
	position:absolute;
	left:0px;
	top:10.5px;
}
.e117_66 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_67 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.046875px;
}
.e117_68 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_69 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:124px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_70 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_71 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.890625px;
}
.e117_72 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_73 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:296px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_74 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:456px;
	height:30px;
	position:absolute;
	left:0px;
	top:76.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_75 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:463px;
	height:101px;
	position:absolute;
	left:0px;
	top:143.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_76 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:182px;
	height:21px;
	position:absolute;
	left:0px;
	top:259.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_77 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:127px;
	height:21px;
	position:absolute;
	left:0px;
	top:316.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_78 { 
	width:480px;
	height:336.5px;
	position:absolute;
	left:0px;
	top:405.65625px;
}
.e117_79 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_80 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:8.890625px;
}
.e117_81 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_82 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:122px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_83 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:127px;
	height:24px;
	position:absolute;
	left:39px;
	top:22.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_84 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:56.5px;
}
.e117_85 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.390625px;
}
.e117_86 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_87 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_88 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:53px;
	height:30px;
	position:absolute;
	left:0px;
	top:92.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_89 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:475px;
	height:81px;
	position:absolute;
	left:0px;
	top:160.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_90 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:154px;
	height:21px;
	position:absolute;
	left:0px;
	top:256.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_91 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:274px;
	height:21px;
	position:absolute;
	left:0px;
	top:313.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_92 { 
	width:480px;
	height:231.65625px;
	position:absolute;
	left:0px;
	top:798.15625px;
}
.e117_93 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_94 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.390625px;
}
.e117_95 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_96 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:156px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_97 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:258px;
	height:30px;
	position:absolute;
	left:0px;
	top:42.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_98 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:464px;
	height:61px;
	position:absolute;
	left:0px;
	top:109.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_99 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:45px;
	height:21px;
	position:absolute;
	left:0px;
	top:208.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_100 { 
	width:480px;
	height:191.65625px;
	position:absolute;
	left:0px;
	top:1085.8125px;
}
.e117_101 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_102 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.265625px;
}
.e117_103 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_104 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_105 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:118px;
	height:30px;
	position:absolute;
	left:0px;
	top:41.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:23px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_106 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:465px;
	height:61px;
	position:absolute;
	left:0px;
	top:109.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_107 { 
	width:480px;
	height:359.15625px;
	position:absolute;
	left:0px;
	top:1333.46875px;
}
.e117_108 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_109 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.078125px;
}
.e117_110 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_111 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_112 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_113 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.921875px;
}
.e117_114 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_115 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:290px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_116 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:223px;
	height:30px;
	position:absolute;
	left:0px;
	top:76.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:23px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_117 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:476px;
	height:121px;
	position:absolute;
	left:0px;
	top:143.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_118 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:206px;
	height:21px;
	position:absolute;
	left:0px;
	top:279.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_119 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:37px;
	height:21px;
	position:absolute;
	left:0px;
	top:336.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_120 { 
	width:480px;
	height:259.15625px;
	position:absolute;
	left:0px;
	top:1748.625px;
}
.e117_121 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_122 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.078125px;
}
.e117_123 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_124 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:126px;
	height:24px;
	position:absolute;
	left:39px;
	top:1.921875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_125 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_126 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.765625px;
}
.e117_127 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_128 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:309px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.234375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_129 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:61px;
	height:30px;
	position:absolute;
	left:0px;
	top:75.921875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_130 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:468px;
	height:61px;
	position:absolute;
	left:0px;
	top:142.921875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_131 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:144px;
	height:21px;
	position:absolute;
	left:0px;
	top:218.921875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_132 { 
	width:480px;
	height:299.15625px;
	position:absolute;
	left:0px;
	top:2063.78125px;
}
.e117_133 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_134 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.234375px;
}
.e117_135 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_136 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:139px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.765625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_137 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_138 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.609375px;
}
.e117_139 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_140 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:352px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_141 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:404px;
	height:30px;
	position:absolute;
	left:0px;
	top:75.765625px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_142 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:467px;
	height:61px;
	position:absolute;
	left:0px;
	top:142.765625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_143 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:118px;
	height:21px;
	position:absolute;
	left:0px;
	top:218.765625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_144 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:251px;
	height:21px;
	position:absolute;
	left:0px;
	top:275.765625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_145 { 
	width:480px;
	height:296.5px;
	position:absolute;
	left:0px;
	top:2418.9375px;
}
.e117_146 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_147 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:8.609375px;
}
.e117_148 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_149 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:354px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.390625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_150 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:144px;
	height:24px;
	position:absolute;
	left:39px;
	top:22.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_151 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:56.5px;
}
.e117_152 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.109375px;
}
.e117_153 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_154 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:337px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_155 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:251px;
	height:30px;
	position:absolute;
	left:0px;
	top:92.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_156 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:470px;
	height:41px;
	position:absolute;
	left:0px;
	top:160.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_157 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:257px;
	height:21px;
	position:absolute;
	left:0px;
	top:216.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_158 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:248px;
	height:21px;
	position:absolute;
	left:0px;
	top:273.609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_159 { 
	width:480px;
	height:231.65625px;
	position:absolute;
	left:0px;
	top:2771.4375px;
}
.e117_160 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_161 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.109375px;
}
.e117_162 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_163 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:131px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_164 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:151px;
	height:30px;
	position:absolute;
	left:0px;
	top:42.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_165 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:475px;
	height:61px;
	position:absolute;
	left:0px;
	top:110.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_166 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:0px;
	top:209.109375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_167 { 
	width:480px;
	height:279.15625px;
	position:absolute;
	left:0px;
	top:3059.09375px;
}
.e117_168 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_169 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.453125px;
}
.e117_170 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_171 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:114px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_172 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_173 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.296875px;
}
.e117_174 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_175 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:308px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.703125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_176 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:184px;
	height:30px;
	position:absolute;
	left:0px;
	top:75.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_177 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:462px;
	height:41px;
	position:absolute;
	left:0px;
	top:143.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_178 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:250px;
	height:21px;
	position:absolute;
	left:0px;
	top:199.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_179 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:85px;
	height:21px;
	position:absolute;
	left:0px;
	top:256.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_185 { 
	width:480px;
	height:3374.78125px;
	position:absolute;
	left:480px;
	top:391.1875px;
}
.e117_186 { 
	width:480px;
	height:296.5px;
	position:absolute;
	left:0px;
	top:10.5px;
}
.e117_187 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_188 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:9.046875px;
}
.e117_189 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_190 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:148px;
	height:24px;
	position:absolute;
	left:39px;
	top:0.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_191 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:133px;
	height:24px;
	position:absolute;
	left:39px;
	top:23.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_192 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:56.5px;
}
.e117_193 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.546875px;
}
.e117_194 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_195 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:408px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.453125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_196 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:292px;
	height:30px;
	position:absolute;
	left:0px;
	top:93.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_197 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:477px;
	height:41px;
	position:absolute;
	left:0px;
	top:160.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_198 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:280px;
	height:21px;
	position:absolute;
	left:0px;
	top:216.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_199 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:37px;
	height:21px;
	position:absolute;
	left:0px;
	top:273.046875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_200 { 
	width:480px;
	height:245.65625px;
	position:absolute;
	left:0px;
	top:363px;
}
.e117_201 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_202 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.453125px;
}
.e117_203 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_204 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:148px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_205 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:147px;
	height:30px;
	position:absolute;
	left:0px;
	top:42.546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_206 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:441px;
	height:41px;
	position:absolute;
	left:0px;
	top:109.546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_207 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:159px;
	height:21px;
	position:absolute;
	left:0px;
	top:165.546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_208 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:174px;
	height:21px;
	position:absolute;
	left:0px;
	top:222.546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_209 { 
	width:480px;
	height:285.15625px;
	position:absolute;
	left:0px;
	top:664.65625px;
}
.e117_210 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_211 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.109375px;
}
.e117_212 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_213 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:145px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_214 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_215 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.734375px;
}
.e117_216 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_217 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:306px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.265625px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_218 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:69px;
	height:30px;
	position:absolute;
	left:0px;
	top:75.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_219 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:464px;
	height:81px;
	position:absolute;
	left:0px;
	top:142.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_220 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:270px;
	height:21px;
	position:absolute;
	left:0px;
	top:261.890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_221 { 
	width:480px;
	height:285.15625px;
	position:absolute;
	left:0px;
	top:1005.8125px;
}
.e117_222 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_223 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:-0.265625px;
}
.e117_224 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_225 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_226 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:39.15625px;
}
.e117_227 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:1.578125px;
}
.e117_228 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_229 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:354px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_230 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:75.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_231 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:479px;
	height:61px;
	position:absolute;
	left:0px;
	top:142.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_232 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:465px;
	height:41px;
	position:absolute;
	left:0px;
	top:242.734375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_233 { 
	width:480px;
	height:223px;
	position:absolute;
	left:0px;
	top:1346.96875px;
}
.e117_234 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_235 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:8.578125px;
}
.e117_236 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_237 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:277px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_238 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:289px;
	height:24px;
	position:absolute;
	left:39px;
	top:22.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_239 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:78px;
	height:30px;
	position:absolute;
	left:0px;
	top:59.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_240 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:465px;
	height:41px;
	position:absolute;
	left:0px;
	top:126.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_241 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:189px;
	height:21px;
	position:absolute;
	left:0px;
	top:182.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_242 { 
	width:480px;
	height:316.5px;
	position:absolute;
	left:0px;
	top:1625.96875px;
}
.e117_243 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_244 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:8.578125px;
}
.e117_245 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_246 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:127px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_247 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:148px;
	height:24px;
	position:absolute;
	left:39px;
	top:22.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_248 { 
	width:480px;
	height:23px;
	position:absolute;
	left:0px;
	top:56.5px;
}
.e117_249 { 
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:2.078125px;
}
.e117_250 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_251 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:327px;
	height:24px;
	position:absolute;
	left:39px;
	top:0.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_252 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:93px;
	height:30px;
	position:absolute;
	left:0px;
	top:92.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_253 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:449px;
	height:61px;
	position:absolute;
	left:0px;
	top:160.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_254 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:210px;
	height:21px;
	position:absolute;
	left:0px;
	top:236.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_255 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:100px;
	height:21px;
	position:absolute;
	left:0px;
	top:293.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_256 { 
	width:480px;
	height:263px;
	position:absolute;
	left:0px;
	top:1998.46875px;
}
.e117_257 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_258 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:9.078125px;
}
.e117_259 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_260 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:298px;
	height:24px;
	position:absolute;
	left:39px;
	top:0.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_261 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:160px;
	height:24px;
	position:absolute;
	left:39px;
	top:23.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_262 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:87px;
	height:30px;
	position:absolute;
	left:0px;
	top:59.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_263 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:471px;
	height:41px;
	position:absolute;
	left:0px;
	top:127.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_264 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:182px;
	height:21px;
	position:absolute;
	left:0px;
	top:183.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_265 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:242px;
	height:21px;
	position:absolute;
	left:0px;
	top:240.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_266 { 
	width:480px;
	height:245.65625px;
	position:absolute;
	left:0px;
	top:2317.46875px;
}
.e117_267 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_268 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.078125px;
}
.e117_269 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_270 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:152px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_271 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:164px;
	height:30px;
	position:absolute;
	left:0px;
	top:42.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_272 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:464px;
	height:41px;
	position:absolute;
	left:0px;
	top:110.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_273 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:182px;
	height:21px;
	position:absolute;
	left:0px;
	top:166.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_274 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:245px;
	height:21px;
	position:absolute;
	left:0px;
	top:223.078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_275 { 
	width:480px;
	height:283px;
	position:absolute;
	left:0px;
	top:2619.125px;
}
.e117_276 { 
	width:480px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_277 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:8.421875px;
}
.e117_278 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_279 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:121px;
	height:24px;
	position:absolute;
	left:39px;
	top:-0.578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_280 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:128px;
	height:24px;
	position:absolute;
	left:39px;
	top:22.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_281 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:272px;
	height:30px;
	position:absolute;
	left:0px;
	top:59.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_282 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:479px;
	height:61px;
	position:absolute;
	left:0px;
	top:127.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_283 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:137px;
	height:21px;
	position:absolute;
	left:0px;
	top:203.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e117_284 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:85px;
	height:21px;
	position:absolute;
	left:0px;
	top:260.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_285 { 
	width:480px;
	height:360.65625px;
	position:absolute;
	left:0px;
	top:2958.125px;
}
.e117_286 { 
	width:480px;
	height:28.65625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e117_287 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0.421875px;
}
.e117_288 { 
	background-color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:28.916276931762695px;
	height:28.99909019470215px;
	position:absolute;
	left:0.02753528207540512px;
	top:0px;
}
.e117_289 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:149px;
	height:24px;
	position:absolute;
	left:39px;
	top:2.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0.9800000190734863;
	line-height:px;
}
.e117_290 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:452px;
	height:60px;
	position:absolute;
	left:0px;
	top:42.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e117_291 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:472px;
	height:181px;
	position:absolute;
	left:0px;
	top:138.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e117_292 { 
	color:rgba(54.00000058114529, 70.00000342726707, 161.0000056028366, 1);
	width:37px;
	height:21px;
	position:absolute;
	left:0px;
	top:337.421875px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
